[Unit]
Description=Hiawatha, an advanced and secure webserver for Unix
After=network.target remote-fs.target nss-lookup.target
Documentation=man:hiawatha(1)

[Service]
Type=simple
ExecStart=/usr/sbin/hiawatha -d
ExecReload=/bin/kill -USR1 ${MAINPID}
ExecStop=/bin/kill ${MAINPID}
PrivateTmp=true

[Install]
WantedBy=multi-user.target
